.rounded-web-corner-full{border-radius:9999px}
.rounded-web-corner-large{border-radius:24px}
.rounded-web-corner-medium{border-radius:16px}
.rounded-web-corner-small{border-radius:8px}
.border-web-neutral-border{--tw-border-opacity:1;border-color:rgb(237 237 237/var(--tw-border-opacity,1))}
.bg-web-card-background{--tw-bg-opacity:1;background-color:rgb(237 237 237/var(--tw-bg-opacity,1))}
.bg-web-darken-100{background-color:rgba(0,0,0,.08)}
.bg-web-darken-50{background-color:rgba(0,0,0,.06)}
.bg-web-hero-background{--tw-bg-opacity:1;background-color:rgb(218 218 218/var(--tw-bg-opacity,1))}
.bg-web-neutral-100{--tw-bg-opacity:1;background-color:rgb(240 240 240/var(--tw-bg-opacity,1))}
.bg-web-neutral-200{--tw-bg-opacity:1;background-color:rgb(237 237 237/var(--tw-bg-opacity,1))}
.bg-web-neutral-300{--tw-bg-opacity:1;background-color:rgb(230 230 230/var(--tw-bg-opacity,1))}
.bg-web-neutral-400{--tw-bg-opacity:1;background-color:rgb(163 163 163/var(--tw-bg-opacity,1))}
.bg-web-neutral-50{--tw-bg-opacity:1;background-color:rgb(250 250 250/var(--tw-bg-opacity,1))}
.bg-web-neutral-600{--tw-bg-opacity:1;background-color:rgb(92 92 92/var(--tw-bg-opacity,1))}
.bg-web-neutral-700{--tw-bg-opacity:1;background-color:rgb(54 54 54/var(--tw-bg-opacity,1))}
.bg-web-neutral-800{--tw-bg-opacity:1;background-color:rgb(36 36 36/var(--tw-bg-opacity,1))}
.bg-web-neutral-900{--tw-bg-opacity:1;background-color:rgb(23 23 23/var(--tw-bg-opacity,1))}
.bg-web-primary-background{--tw-bg-opacity:1;background-color:rgb(250 250 250/var(--tw-bg-opacity,1))}
.bg-web-white{--tw-bg-opacity:1;background-color:rgb(255 255 255/var(--tw-bg-opacity,1))}
.font-web-body-large{font-family:Inter}
.font-web-body-mono{font-family:Fragment Mono}
.font-web-body-small,.font-web-body-small-bold,.font-web-caption,.font-web-caption-bold{font-family:Inter}
.font-web-display-1,.font-web-display-2{font-family:"Instrument Serif"}
.font-web-heading-1,.font-web-heading-2,.font-web-heading-3,.font-web-heading-4,.font-web-title{font-family:Inter}
.text-web-body-large{font-size:24px;line-height:28px;letter-spacing:-.025em;font-weight:500}
.text-web-body-mono{font-weight:400}
.text-web-body-mono,.text-web-body-small{font-size:18px;line-height:24px;letter-spacing:-.025em}
.text-web-body-small{font-weight:500}
.text-web-body-small-bold{font-size:18px;line-height:24px;letter-spacing:-.025em;font-weight:600}
.text-web-caption{font-weight:500}
.text-web-caption,.text-web-caption-bold{font-size:14px;line-height:20px;letter-spacing:-.025em}
.text-web-caption-bold{font-weight:600}
.text-web-display-1{font-size:128px;line-height:128px;letter-spacing:-.025em;font-weight:400}
.text-web-display-2{font-size:80px;line-height:80px;letter-spacing:-.025em;font-weight:400}
.text-web-heading-1{font-size:96px;line-height:96px;letter-spacing:-.05em;font-weight:700}
.text-web-heading-2{font-size:64px;line-height:64px;letter-spacing:-.05em;font-weight:700}
.text-web-heading-3{font-size:48px;line-height:54px;letter-spacing:-.05em;font-weight:500}
.text-web-heading-4{font-size:28px;line-height:32px;letter-spacing:-.05em;font-weight:600}
.text-web-title{font-size:24px;line-height:28px;letter-spacing:-.05em;font-weight:700}
.text-web-neutral-300{--tw-text-opacity:1;color:rgb(230 230 230/var(--tw-text-opacity,1))}
.text-web-primary-text{--tw-text-opacity:1;color:rgb(23 23 23/var(--tw-text-opacity,1))}
.text-web-secondary-text{--tw-text-opacity:1;color:rgb(163 163 163/var(--tw-text-opacity,1))}
.text-web-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity,1))}
.shadow-web-shadow-large{--tw-shadow:0px 12px 32px -4px rgba(0,0,0,.08),0px 4px 8px -2px rgba(0,0,0,.08);--tw-shadow-colored:0px 12px 32px -4px var(--tw-shadow-color),0px 4px 8px -2px var(--tw-shadow-color)}
.shadow-web-shadow-large,.shadow-xl{box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}
.text-web-display-1{font-size:72px;line-height:72px}
.text-web-display-2,.text-web-heading-1{font-size:56px;line-height:56px}
.text-web-heading-2{font-size:48px;line-height:48px}
.text-web-heading-3{font-size:28px;line-height:32px}
.text-web-title{font-size:20px;line-height:24px}
.text-web-body-large{font-size:18px;line-height:24px}
.text-web-body-small{font-size:16px;line-height:22px}
.text-web-body-mono{font-size:14px;line-height:20px}
